main {
  /* Set the main component in the DOM */
  position: sticky;
  left: 0;
  margin-bottom: 5vh;
  /* Set the width of the main component */
  margin: 0 auto;
  width: 70vw;
  /* Set the font color */
  color: white;
  text-align: center;
}
